/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-6-11, 11:56:42
    Author     : 谢金光
*/

.ui-layout-north{
    overflow: hidden;
}
.ui-layout-unit-content{
    overflow: hidden;
}
.ui-selectonemenu{
    min-width: 100px;
    max-width: 200px;
}
.ui-sortable-column{
    min-width: 100px;
    max-width: 200px;
}