/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-16, 22:49:56
    Author     : xiejg11
*/

body {
    margin: 0px;
    padding: 0;	
    font-size:  x-small;
    font-family:  sans-serif, monospace,serif;
}

.center{
    text-align:  center;
}
.vcenter{
    vertical-align: middle;
}

.nobreak{
    white-space: nowrap;
    word-break: keep-all;
}
.ui-dialogbutton{
    vertical-align: middle;
}


h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top:20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#logo {
    text-align: left;
}

/* Menu */
#menu {
    position: absolute;
    top:25px;
    right:15px;
    padding: 0;
    height: 59px;
    overflow: hidden;
}

#menu ul {
    margin: 0;
    list-style: none;
}

#menu li {
    display: inline;
}
a.menu{
    height: 50px;
}
a.menu:hover{
    text-decoration: none;
}

ul.vmenu {
    margin:0;
    padding:0;
    list-style-type: none;
}

ul.hmenu {
    margin:0;
    padding:0;
    list-style-type: none;
}
ul.hmenu li{
    display: inline;
}
ul.vmenu li:hover{
    background-color: #ece3a5;
    color: #ffaf0f;
}


.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
}





/* Footer */
#footer {
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
}

#footer p {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
}

#footer a {
}

#footer .link {
    float: right;
}

#footer .copyright {
    float: left;
}
