
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-11, 14:24:26
    Author     : 谢金光
*/

/*以下为导航菜单样式
*/
.music_icon{
    background-image: url("#{request.contextPath}/images/stack/music.png")!important;
}

.video_icon{
    background-image: url("#{request.contextPath}/images/stack/video.png")!important;
}

.link_icon{
    background-image: url("#{request.contextPath}/images/stack/link.png")!important;
}

.rss_icon{
    background-image: url("#{request.contextPath}/images/stack/rss.png")!important;
}

.history_icon{
    background-image: url("#{request.contextPath}/images/stack/history.png")!important;
}


.home_icon{
    background-image: url("#{request.contextPath}/images/stack/home.png")!important;
}



/*以下为系统菜单样式
*/

.menuitem_icon{
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    float:left;
}
.sysmenu .roomspot_icon,
.roomspot_icon
{
    @extend .menuitem_icon
    background-image: url("#{resource['design/roomspot.jpg']}");

}

.station_icon{
    @extend .menuitem_icon
    background-image: url("#{resource['design/home.png']}")!important;
}
